	<aside class="bottom-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan, ante a viverra tempor, nisl erat mattis nibh, a vestibulum tortor nulla quis erat. Curabitur porta tempor erat. Donec venenatis magna diam, auctor aliquet arcu pharetra nec. Aenean in nisi vitae leo pellentesque imperdiet ac ac libero. Pellentesque venenatis dui tellus, at auctor felis vestibulum a. Curabitur lorem nisl, accumsan non placerat in, sollicitudin in dolor. Pellentesque sit amet risus pulvinar, gravida mauris in, tempus nunc. Nulla facilisi.</p>
	</aside>
	<footer>
		<div class="row">
			<div class="col-sm-3 wthb">
				<img src="/images/logo-mcu.png">
			</div>
			<div class="col-sm-4 offset-sm-1">
				<h2>Esto es MCU</h2>
				<ul>
			      <li>
			        <a href="/">Inicio</a>
			      </li>
			      <li>
			        <a href="/events">Asambleas</a>
			      </li>
			      <li>
			        <a href="/articles/1">Acerca de MCU</a>
			      </li>
			      <li>
			        <a href="/articles/2">Contacto</a>
			      </li>
			    </ul>
			</div>
			<div class="col-sm-3">
				<div class="quotes">
					<p><%= @testimonials_testimonial.testimonial %></p>
					<h3><%= @testimonials_name.name %></h3>
				</div>
			</div>
		</div>
	</footer>