	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="/"><img src="/images/icon.png" style=" width: 65px; margin-left: -20px; margin-top: -15px; margin-bottom: -15px; ">
		  <span style="color: #FFF">Somos MCU</span></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarToggler">
		    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
		      <li class="nav-item">
		        <a class="nav-link" href="/">Inicio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/events">Asambleas</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/articles/1">Acerca de MCU</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/articles/2">Contacto</a>
		      </li>
		      <li class="nav-item">
				<% if admin_signed_in? %>
				<%= link_to('Salir', destroy_admin_session_path, method: :delete, class: "nav-link" ) %>        
				<% end %>
				<% if user_signed_in? %>
				<%= link_to('Salir', destroy_user_session_path, method: :delete, class: "nav-link" ) %>        
				<% else %>
				<% if not admin_signed_in? %>
				<%= link_to('Acceso', new_user_session_path, class: "nav-link")  %>  
				<% end %>
				<% end %>
		       <!-- <a class="nav-link" href="/users/sign_in">Acceso</a>-->
		      </li>

		    </ul>
		  </div>
		</nav>
	</header>
