<header>
	<aside>
	  <div class="overlay"></div>
		<video loop muted autoplay poster="/images/poster.jpg" class="fullscreen-bg__video">
			<source src="/images/video.webm" type="video/webm">
			<source src="/images/video.mp4" type="video/mp4">
		</video>
	  <div class="container h-100">
	    <div class="d-flex text-center h-100">
	      <div class="my-auto w-100 text-white">
			<div class="logo">
				<img src="/images/logo.png">
			</div>
			<h2>Todo por amor a Cristo</h2>
			<a href="#">Conoce a MCU</a>
	      </div>
	    </div>
	  </div>
	</aside>
</header>
<main>
  <div class="feed"> 
    <h1><%= @first_event.title %></h1>
    <img src="<%= @first_event.cover %>">
    <p><%= @first_event.description %></p>
    <%= link_to 'Conoce más', @first_event %>
    <a class="second" href="/events">Otros eventos</a>
  </div>
</main>
